



.allPackagesDiv {
  height: 100vh !important;
  overflow: visible;
}


.eachPackageDiv {
  text-align: center;
  margin: 1.5%;
  width: 20vw;
  height: 42vh;

  background-color: white;
  opacity: .9;

}
ul {
  list-style-type: none;
  text-decoration: underline;
}

li {
position: relative;


}

.price {
  color: #3D75A8;
}

img {
  height: 25vh;
  min-width: 20vw;
  max-width: 20vw;
  object-fit: contain;
  object-fit: fill;
  padding-bottom: 2%;


}

.cityCountry {

}
